@import "variables";

.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
  background-color: $primary;
  color: $off-white !important;
  font-size: 1.4rem;
}

.btn-secondary {
  background-color: $secondary;
  border-radius: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: $primary-light;
}
.btn-secondary:hover {
  background-color: $secondary-light;
}

.btn:disabled {
  opacity: 0.25;
  cursor: not-allowed;
  background-color: $primary;
}

.btn-lg {
  font-size: 1.8rem;
}
