@import "variables";
@import "mixins";

.card-list {
}

.card {
  background: white;
  border: 1px solid darken($color: $off-white, $amount: 20);
  border-radius: 5px;
  display: flex;
  position: relative;
  transition: 100ms;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;

  .tag {
    background-color: $secondary;
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 1.6rem;
    width: auto;
    @include hover;
  }
}

.card:hover {
  @include hover;
}

.card-content {
  padding: 2rem;
  width: 60%;
}

.card-overlay {
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2rem;

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
    position: relative;
  }

  .card-image {
    order: -1;
    padding: 0;
  }

  .card > * {
    width: 100%;
  }

  .card-image > img {
    width: 100%;
  }
}
