@import "variables";

.course-list-item {
  background: white;
  border: 1px solid darken($color: $off-white, $amount: 20);
  border-radius: 5px;
  display: flex;
}

.course-list-item-content {
  padding: 2rem;
  width: 60%;
}

.course-list-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
