@import "variables";

.hero-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.hero-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 2rem;
  max-width: 300px;
}

.divider {
  height: 100px;
  width: 2px;
  background-color: $light-grey;
  align-self: center;
}

.hero-item-title {
  text-align: center;
  font-weight: 500;
  margin-top: 1.5rem;
}

.hero-item-subtitle {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  color: lighten($black, 20);
}

.hero-title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 4rem;
  font-size: 4.2rem;
}

.title-underline {
  border: 1px solid $secondary;
  width: 8rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .hero-items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  .divider {
    display: none;
  }

  .hero-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem;
    width: 100%;
  }

  .title-underline {
    margin-bottom: 0.5rem;
  }
}
