@import "variables";

.hero-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.hero-item {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.hero-item-title {
  text-align: center;
}

.hero-item-subtitle {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
}

.hero-title {
  text-align: center;
  font-weight: 300;
}

.title-underline {
  border: 1px solid $light-grey;
  width: 5rem;
  margin-bottom: 2rem;
}
