@mixin hover() {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  cursor: pointer;
  transition: transform 150ms;
}
