@import "../sass/variables.scss";

.nav {
  background-color: $off-white;
  position: fixed;
  width: 100%;
}

.nav-content {
  max-width: 900px;
  padding: 1rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: $black;
}

.nav-item > a {
  font-weight: 300;
}
.nav-item > a:hover {
  color: $black;
}

#hamburgerBtn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: static;
    border-bottom: 1px solid darken($color: $off-white, $amount: 20);
  }

  .nav-content {
    flex-direction: column;
    align-items: flex-end;
  }

  #hamburgerBtn {
    display: inline-block;
  }

  .nav-item {
    display: block;
    margin-bottom: 1rem;
  }
}
