@import "../sass/variables.scss";

.nav {
  background-color: $off-white;
  position: fixed;
  width: 100%;
}

.nav-content {
  max-width: 900px;
  padding: 1rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: inline-block;
  margin-left: 2rem;
  color: $black;
}

.nav-item > a {
  font-weight: 300;
}
.nav-item > a:hover {
  color: $black;
}
