@import "../sass/variables.scss";


.nav {
  background-color: $off-white;
  position: sticky;
  top:0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

}



.nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: $black;
}

.nav-item > a {
  font-weight: 300;
}
.nav-item > a:hover {
  color: $black;
}

#hamburgerBtn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: static;
    height: auto;
    padding: 1rem 0;
  }

  .nav-content {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  #hamburgerBtn {
    display: inline-block;
  }

  .nav-item {
    display: block;
    margin-bottom: 1rem;
  }

  .nav-item > a {
    font-size: 1.8rem;
  }
}
